h2 { 
    font-family: arial;
    text-decoration: underline;
    font-weight: bold;
    color: darkgray;

}

img {
    width: 300px;
    height: auto;
}

intro {
    background-color: #fff9d6;
    color: #00008b;

}

html {
    background-color: #d6f5d6;
    color: #800000;
}

css {
    background-color: #ffe6f2;
    color: #006523;
}

use {
    background-color: #d0e7ff;
    
}

footer {
    background-color: #e6e6e6
    
}